input[type="text"] {
    height: 35px;
    color: whitesmoke;
    border: none;
    border-radius: 20px;
    width: 450px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #435663;
}
button:hover {
    cursor: pointer;
}
.setting, .reload, .brightness {
    height: 35px;
    width: 35px;
    color: whitesmoke;
    background-color: #435663;
    border: none;
    border-radius: 50%;
    margin-left: 10px;
}

 .top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #313647;
}
.google_form {
    display: inline;
}
.side-bar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 150px;
    margin-top: 50px;
    background-color: #435663;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}
.options {
    list-style-type: none;
    width: 150px;
    margin-right: 40px;
}
.button {
    height: 35px;
    width: 100%;
    color: whitesmoke;
    background-color: #313647;
    margin: 0;
    border: none;
}
.playlist {
    text-align: center;
    margin: 50px 0px 0px 142.3px;
    height: 100%;
    width: 80%;
    background-color: #A3B087;
}
.playlist div{
    height: 60px;
}
.content {
    display: grid;
    grid-template-rows: repeat(10,100px);
    grid-template-columns: 100%;   
    height: 100%;
    width: 100%;
    background-color: rgb(190, 110, 6);
}
.music {
    height: 20px;
    width: 100%;
    background-color: #435675;
    border: 2px solid grey;
}
.now-playing {
    position: fixed;
    top : 0; 
    right: 0; 
    height: 100%;
    width: 164px;
    margin-top: 50px; 
    background-color: #435663;
}


.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #313647;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
}